---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import { Pagination } from "../components/Pagination";
import { BlogList } from "../components/BlogList";

const allPosts = await getCollection("posts");

allPosts.sort(
  (a, b) => Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
);
---

<Layout title="Blog">
  <Title>
    <h1 class="text-3xl font-bold" slot="title">Blog</h1>
    <p class="text-lg font-thin" slot="subtitle">
      En este blog encontrarás una bitácora de mi recorrido aprendiendo Astro,
      un nuevo framework para construir sitios web, entre otras tecnologías.
    </p>
  </Title>

  <!-- <ul class="flex flex-col w-full justify-center items-center p-5 gap-5">
    {
      allPosts.map((post) => {
        const { title, pubDate: date, description } = post.data;

        return (
          <BlogPost
            title={title}
            date={date}
            description={description}
            url={post.slug}
          />
        );
      })
    }
  </ul> -->

  <BlogList posts={allPosts} client:load />

  <!-- <div>
    <Pagination currentPage={currentPage} totalPages={totalPages} client:load />
  </div> -->
</Layout>
