---
import BlogPost from "../components/BlogPost.astro";
import TagCard from "../components/TagCard.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

// const allPosts = await Astro.glob("./posts/*.md");
const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))].splice(
  0,
  3
);

const latestPosts = allPosts
  .map((post) => ({
    slug: post.slug,
    data: post.data,
  }))
  .sort(
    (a, b) =>
      Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
  )
  .splice(0, 2);
---

<Layout title="Inicio">
  <Title>
    <span slot="title">Bienvenidos a Tech Blog</span>
    <span slot="subtitle">
      En este blog encontrarás contenido sobre tecnología, desarrollo web y
      programación.
    </span>
  </Title>

  <section class="w-full sm:w-[550px] p-5">
    <h2
      class="py-10 font-bold text-3xl text-center underline underline-offset-4"
    >
      Últimas publicaciones
    </h2>
    <ul class="flex flex-col w-full justify-center items-center p-5 gap-5">
      {
        latestPosts.map((post) => (
          <BlogPost
            title={post.data.title}
            url={post.slug}
            description={post.data.description}
            date={post.data.pubDate}
          />
        ))
      }
    </ul>
  </section>

  <section class="w-full sm:w-[550px] p-5">
    <h2
      class="p-10 font-bold text-3xl text-center underline underline-offset-4"
    >
      Alguna de nuestras etiquetas
    </h2>
    <ul class="flex flex-col w-full justify-center items-center p-5 gap-5">
      {tags.map((tag) => <TagCard tag={tag} />)}
    </ul>
  </section>
</Layout>
