---
import Title from "../components/Title.astro";
import Layout from "./Layout.astro";
import Content from "../components/Content.astro";
import TagList from "../components/TagList.astro";

const { frontmatter } = Astro.props;

const allPosts = await Astro.glob("../pages/posts/*.md");

const hasNextPost = allPosts.findIndex(
  (post) => post.url === Astro.url.pathname
);
---

<Layout title={frontmatter.title}>
  <Title>
    <h1 class="text-3xl font-bold" slot="title">{frontmatter.title}</h1>
    <p class="text-lg font-thin" slot="subtitle">
      Escrito por {frontmatter.author}
    </p>
    <TagList tags={frontmatter.tags} />
  </Title>

  <Content>
    <slot />
  </Content>

  <div class="w-full flex justify-center p-5">
    <div class="w-80 sm:w-[500px] bg-slate-500 p-5 rounded-lg">
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="" />
    </div>
  </div>

  <div class="w-full flex justify-center p-5">
    <div class="w-80 sm:w-[500px] flex justify-between items-center">
      {
        hasNextPost > 0 ? (
          <a href={allPosts[hasNextPost - 1].url} class="text-lg font-bold">
            ← Anterior Post
          </a>
        ) : (
          <div />
        )
      }
      {
        hasNextPost < allPosts.length - 1 && (
          <a href={allPosts[hasNextPost + 1].url} class="text-lg font-bold">
            Siguiente Post →
          </a>
        )
      }
    </div>
  </div>
</Layout>
